[Unit]
Description=Baryon Scraper
After=docker.service

[Service]
User=baryon
WorkingDirectory=/home/baryon/baryon
ExecStart=/usr/bin/docker compose exec backend python manage.py scrape_projects
StandardOutput=append:/home/baryon/logs/scrape-projects-log.log
StandardError=append:/home/baryon/logs/scrape-projects-log-error.log

[Install]
WantedBy=default.target
