{% extends "base.html" %}

{% block title %}Baryon _ Classes{% endblock %}

{% block content %}

    <div id="search-header" class="content-top">
        <h1>Classes</h1>

        <input
            placeholder="Search..."
            name="search"
            class="search"
            hx-get="{% url "classes" %}"
            hx-trigger="keyup changed delay:0.5s"
            hx-target="#classes-list"
        />
    </div>

    <div id="classes-list">
        {% include "partials/class-list.html" %}
    </div>

    <script>
        document.body.addEventListener('htmx:configRequest', function (event) {
            event.detail.parameters['search'] = document.querySelector('input[name="search"]').value;
        });
    </script>
{% endblock content %}
