<div class="footer">
    <div class="footer-content">
        <div class="footer-block">
            <h4>SuperCollider</h4>
            <p><a href="https://supercollider.github.io">supercollider.github.io</a></p>
            <p><a href="https://docs.supercollider.online">docs.supercollider.online</a></p>
            <p><a href="https://github.com/supercollider/SuperCollider">GitHub</a></p>
        </div>

        <div class="footer-block">
            <h4>Social</h4>
            <p><a href="https://scsynth.org">scsynth.org</a></p>
            <p><a href="https://sccode.org">sccode.org</a></p>
        </div>

        <div class="footer-block">
            <h4>Baryon</h4>
            <p><a href="https://github.com/capital-G/baryon">GitHub</a></p>
            <p><a href="https://github.com/supercollider-quarks/quarks">Quarks GitHub</a></p>
        </div>
    </div>
</div>
