<div id="header">
    <div id="header-content">
        <a href="{% url 'index' %}"><p class="title">Baryon</p></a>
        <div id="header-menu">
            <ul>
                <a href="{% url 'quarks' %}">Quarks</a>
            </ul>
            <ul>
                <a href="{% url 'extensions' %}">Extensions</a>
            </ul>
            <ul>
                <a href="{% url 'classes' %}">Classes</a>
            </ul>
            <ul>
                <a href="{% url 'about' %}">About</a>
            </ul>
        </div>
    </div>
</div>
