{% extends "base.html" %} {% block content %}

<div id="welcome-splash" class="content-top">
  <h1 style="padding-bottom: 20px;">Welcome to <span class="highlight">Baryon</span></h1>
  <p>Baryon is a package index for <a href="https://supercollider.github.io">SuperCollider</a> quarks and extensions.
  </p>
</div>

<div class="project-section">
  <h1 class="project-heading">Quarks</h1>
  <div class="project-list-wrapper">
    <div class="small-quark-list">
      <span>New quarks</span>
      {% include 'partials/small-projects-list.html' with projects=latest_quarks %}
    </div>

    <div class="small-quark-list">
      <span>Latest updates</span>
      {% include 'partials/small-projects-list.html' with projects=latest_quark_updates %}
    </div>

    <div class="small-quark-list">
      <span>Random quarks</span>
      {% include 'partials/small-projects-list.html' with projects=random_quarks %}
    </div>
  </div>
</div>

<div class="project-section">
  <h1 class="project-heading">Extensions</h1>
  <div class="project-list-wrapper">
    <div class="small-extension-list">
      <span>New quarks</span>
      {% include 'partials/small-projects-list.html' with projects=latest_extensions %}
    </div>

    <div class="small-extension-list">
      <span>Latest updates</span>
      {% include 'partials/small-projects-list.html' with projects=latest_extension_updates %}
    </div>

    <div class="small-extension-list">
      <span>Random quarks</span>
      {% include 'partials/small-projects-list.html' with projects=random_extensions %}
    </div>
  </div>
</div>

{% endblock content %}
